.footer {
    padding: 100px 0;
    background: #2e2f42;
}
.footer-logo{
    
    display: inline-block;
    margin-bottom: 16px;
}
.footer-accent {
    color: #f4f4fd;
}
.footer-desc {
    max-width: 264px;
    color: #f4f4fd;
}