.team {
    background-color: #f4f4fd;;
}
.team-title {
}

.team-list {
}
.team-item {
    background: #fff;
}
.team-ill {
}
.team-caption {
    text-align: center;
}

.team-position {
    text-align: center;
}